In [137]:
import pandas as pd
from pandas.core.frame import DataFrame

In [138]:
headers = ['bookname','versenum','verse']

In [19]:
df = pd.read_csv('C:/Users/Yifeng He/Desktop/graduated/2nd graduate semester/text analysist/Untitled Folder 1/NA28_Greek.csv', header = None, encoding = 'utf-16',names = ['book','vernum','verse'], sep = '\t')

In [20]:
df.head()

   book vernum                                              verse
0  Mt 1      1  Βίβλος γενέσεως Ἰησοῦ Χριστοῦ υἱοῦ Δαυὶδ υἱοῦ ...
1  Mt 1      2  Ἀβραὰμ ἐγέννησεν τὸν Ἰσαάκ, Ἰσαὰκ δὲ ἐγέννησεν...
2  Mt 1      3  Ἰούδας δὲ ἐγέννησεν τὸν Φάρες καὶ τὸν Ζάρα ἐκ ...
3  Mt 1      4  Ἀρὰμ δὲ ἐγέννησεν τὸν Ἀμιναδάβ, Ἀμιναδὰβ δὲ ἐγ...
4  Mt 1      5  Σαλμὼν δὲ ἐγέννησεν τὸν Βόες ἐκ τῆς Ῥαχάβ, Βόε...

In [24]:
bookname =[]
chapnum = []
vernum = []
verse = []
for x in df.book:
    info = x.split()
    bookname.append(info[0])
    chapnum.append(info[1])
for y in df.vernum:
    vernum.append(y)
for z in df.verse:
    verse.append(z)
    
NA28 = {'BookName':bookname, 'ChapNum':chapnum, 'VerNum':vernum, 'Verse':verse}
NA28 = pd.DataFrame(NA28)

In [78]:
numlist = []
v_num = []
for x in range(0,len(vernum)):
    if vernum[x] == 'nonvnum':
        numlist.append(x)
    else:
        v_num.append(vernum[x])
        
numlist1 = [x-1 for x in numlist]
allnum = numlist1 + numlist

In [79]:
b_name = []
for m in range(0,len(bookname)):
    if m not in numlist:
        b_name.append(bookname[m])
ch_num = []
for n in range(0,len(chapnum)):
    if n not in numlist:
        ch_num.append(chapnum[n])

In [89]:
v_text = []

for x in range(0,len(verse)):
    if x not in numlist:
        if x not in numlist1:
            v_text.append(verse[x])
        else:
            v_text.append(verse[x]+verse[x+1])

In [91]:
re_NA28 = {'BookName':b_name, 'ChapNum':ch_num, 'VerNum':v_num, 'Verse':v_text}
re_NA28 = pd.DataFrame(re_NA28)

In [94]:
re_NA28.to_csv('NA28_11_09_11PM.csv', index = False, encoding = 'utf-16', sep = '\t')

In [101]:
df1 = pd.read_csv('SBL_Greek_11.07_1AM.csv', encoding = 'utf-16', sep = '\t')

In [103]:
bookname =[]
chapnum = []
vernum = []
verse = []
for x in df1.versenum:
    info = x.split()
    bookname.append(info[0])
    num = info[1].split(':')
    chapnum.append(num[0])
    vernum.append(num[1])
for y in df1.verse:
    verse.append(y)
SBL = {'BookName':bookname, 'ChapNum':chapnum, 'VerNum':vernum, 'Verse':verse}
SBL = pd.DataFrame(SBL)

In [105]:
SBL.to_csv('SBL_11_09_11PM.csv', index = False, encoding = 'utf-16', sep = '\t')

In [139]:
df2 = pd.read_csv('Tyndale_Greek_11.07_1AM.txt', header = None, names = [chr(x) for x in range(ord('a'), ord('s') + 1)],encoding = 'utf-16', sep = '\t')

In [140]:
bookname =[]
chapnum = []
verse = []
for x in df2.a:
    info = x.split()
    if len(info) == 2:
        bookname.append(info[0])
        chapnum.append(info[1])
    elif len(info) ==3:
        bn = info[0]+info[1]
        bookname.append(bn)
        chapnum.append(info[2])
    else:
        bookname.append(info[0])
        chapnum.append(1)
for y in df2.b:
    verse.append(y)
Tyndale = {'BookName':bookname, 'ChapNum':chapnum,  'Verse':verse}
Tyndale = pd.DataFrame(Tyndale)

In [141]:
Tyndale.to_csv('Tyndale_11_09_11PM.csv', index = False, encoding = 'utf-16', sep = '\t')